/*Button*/
.btn {
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  transition: all .5s ease;
  border: none;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.btn:hover{ background-color: #dfdfdf }

.btn-small {
  font-size: 0.675rem;
}

.btn-large{
  font-size: 1rem;
  width: 215px;

}

.btn-primary {
  color: #fff;
  background-color: #FFAE00;
  transition: all 1.5s;
}

.btn-primary:hover { background-color: rgb(255, 217, 0) }
