.wrapper {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 80% ;
  box-sizing: border-box;
}

.wrapper-flex{
  display: flex;
  flex-wrap: wrap;
}

.end{
  margin: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}